@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700;800&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

html,body{
    overflow-x: hidden;
}

#bg{
    background-image:linear-gradient(rgba(107, 63, 165, 0.74), rgba(107, 63, 165, 0.74)), url(/Images/hulgjayakfo.jpg);
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.business{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

.fixed-top{
    top: 3%;
}

.btn {
    background-color: #ff3399;
    font-size: 15px;
}

.btn:hover{
    border: 1px solid white;
}

.display-6{
    font-weight: 500;
}

.cardcontainer .imgs{
    background-color:#A25FD9;
}

.cardcontainer:hover .imgs{
    background-color: #FA6F86;
    transition: .5s;
}

.fade-up{
    transition: 0.5s;
}

#pic1{
    overflow: hidden;
    border-radius: 25px;
}

#pic1 img{
    transition:all 0.8s ease;
}

#pic1:hover img{
    transform:scale(1.3);
}

#work-process{
    background-image:linear-gradient(rgba(107, 63, 165, 0.74), rgba(107, 63, 165, 0.74)), url(/Images/hulgjayakfo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 75vh;
}

.workProcess {
    width: 50%;
}

#pricing{
    background-color: #F2F2FE;
}

#counting-num{
    background-image:linear-gradient(rgba(107, 63, 165, 0.74), rgba(107, 63, 165, 0.74)), url(/Images/hulgjayakfo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    font-size: 18px;
}

.form-control{
    padding: 10px;
    outline: 0;
}

#Talk-to-us{
    background-color: #F2F2FE;  
}

.btn-b{
    background-color: #8261EE;
    color: #fff;
    font-size: 10px;
    padding: 5px;
    width: 20%; 
    margin-left: auto;
    margin-right: auto;
    position: absolute; 
    left:55%; 
    transform: translate(-10%, -10%);
}

#footer{
    background-image: linear-gradient(to right,rgba(164,89,210,0.8),rgba(130,97,238,0.6));
}

@media screen and (max-width:992px){
    .business{
        width: 65%;
    }
    
    #work-process {
        height: 85vh;
        background-position: top;
    }
}

@media screen and (max-width:768px) {
    .lead {
        font-size: 1.1rem;
    }

    #work-process {
        height: 120vh;
    }
}

@media screen and (max-width:576px) {
    #work-process {
        height: 160vh;
    }

    .business{
        width: 80%;
    }

    .workProcess {
        width: 80%;
    }

    .btn-b{
        left:35%;
        width: 30%
    }
}

@media screen and (max-width:375px) {
    .business {
        width: 85%;
    }

    #work-process {
        height: 115vh;
    }

    .display-6{
        font-size:25px;
        font-weight: 700;
    }

    .ps-5{
        padding-left: 1rem!important;
    }

    .workProcess {
        width: 100%;
    }

    .p-5{
        padding: 1rem!important;
    }
 }

